<div class="container">
  <div class="page-header">
    <h1>Risultati della ricerca</h1>
    <p>Hai cercato: <%= params[:q] %></p>
  </div>
  <%= render :partial => 'list', :locals => { :photos => @photos } %>
</div>
