<div class="container">
  <div class="page-header">
    <%= content_tag :h2, @gallery.title %>
    <%= content_tag :h1, @photo.description %>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <%= image_tag @photo.image.url(:big) %>
    </div>
  </div>
  <%= content_tag :p, "Scattata a: #{@photo.city} (#{@photo.country})" %>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div>
