* {
	box-sizing:border-box;
}
.main-grid {
	display: flex;
	flex-wrap:wrap;
	list-style: none;
	.col {
		flex: 0 0 25%;
		list-style: none;
		padding: 8px;
	}
	.col_element {
		padding: 20px;
		border:1px solid #ececec;
	}
	.col_image {
		a {
			display: block;
			width: 100%;
			padding-bottom: 65%;
			height: 0;
			position: relative;
			overflow: hidden;
			img {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				object-fit:cover;
			}
		}
	}
	.img_cont {
			display: block;
			width: 100%;
			padding-bottom: 56.25%;
			height: 0;
			position: relative;
			overflow: hidden;
			img {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				object-fit:cover;
			}

	}
}


.thumbnail {
	min-height: 350px;
	> a {
		display: block;
		position: relative;
		height: 0px;
		overflow: hidden;
		width: 100%;
		padding-bottom: 50%;
	}
	.img_cont {
		display: block;
		position: relative;
		height: 0px;
		overflow: hidden;
		width: 100%;
		padding-bottom: 50%;

	}
	.caption {
		h5 {
			font-size: 12px;
		    white-space: nowrap;
		    overflow: hidden;
		    width: 100%;
		    display: block;
		    text-overflow: ellipsis;
		}
	}
}